* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  color: white;
  background-color: #2a65fa;
  border-radius: 30px;
  -webkit-box-shadow: 19px 18px 29px -22px rgba(0, 0, 0, 1);
  -moz-box-shadow: 19px 18px 29px -22px rgba(0, 0, 0, 1);
  box-shadow: 19px 18px 29px -22px rgba(0, 0, 0, 1);
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
.city-input {
  width: 70%;
  height: 50px;
  border-radius: 5px;
  font-size: 25px;
  padding-left: 5px;
}
.btn {
  border: none;
  padding: 0 40px;
  font-weight: bold;
  color: white;
  background-color: blue;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

.weather-data {
  border: 5px solid white;
  width: 80%;
  background-color: #819ee667;
  border-radius: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  gap: 30px;
  color: white;
}

.weather-data img {
  width: 20%;
  height: 20%;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 7px 26px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 7px 26px -7px rgba(0, 0, 0, 1);
  box-shadow: 3px 7px 26px -7px rgba(0, 0, 0, 1);
}

.degree {
  font-size: 50px;
  margin-top: 20px;
  color: black;
}

.description {
  font-size: 30px;
}

.details {
  width: 95%;
  height: 35%;
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.details div {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  padding: 2px;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.342);
  -webkit-box-shadow: 19px 18px 29px -22px rgba(0, 0, 0, 1);
  -moz-box-shadow: 19px 18px 29px -22px rgba(0, 0, 0, 1);
  box-shadow: 19px 18px 29px -22px rgba(0, 0, 0, 1);
}
